<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vladimirrybkin.cycling2.activities">

    <application android:name="com.vladimirrybkin.cycling2.activities.presentation.app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.vladimirrybkin.cycling2.activities.presentation.activity.MainActivity"
            android:label="">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="appscheme" android:host="view_router"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="SCHEME"
            android:value="cycling2"/>

    </application>

</manifest>
